@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* Colors */
  --color-primary: #6366F1;
  --color-gradient: linear-gradient(#6366F1 0%, #8B5CF6 50%, #D946EF 100%);
  --color-yellow: #FFBA08;
  --color-green: #22C55E;

  --color-white: #FFFFFF;
  --color-gray-100: #F3F6FF;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  padding: .6em 1.6em;
  border-radius: 4px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-toggle-dark {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-700);
  font-weight: 600;
  font-size: 1rem;

  .text-dark-mode {
    display: none;

    @media (min-width: 768px) {
      display: block;
      color: var(--color-gray-900);
    }

    @media (min-width: 1400px) {
      display: block;
      color: var(--color-gray-7000);
    }
    
  }
}

/* Code from W3Schools.com */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-600);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.8px;
  background-color: var(--color-white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------- */

.btn-sign-in {
  font-size: .9rem;
  font-weight: 500;
   i {
    margin-right: .5em;
   }
   display: none;

   @media (min-width: 1400px) {
    display: block;
  }
}

.btn-mobile {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--color-gray-900);

  @media (min-width: 1400px) {
    display: none;
  }
}

.btn-download {
  background-color: var(--color-gray-900);
  padding: .6em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  padding: 1em;
  box-shadow: 0px 4px 5px var(--color-gray-300);
}

.btn-learn-more {
  width: 12em;
  font-size: 14px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 13px 18px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 12px;
}

.btn-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  font-size: 14px;
  padding: .9rem 1.5rem;
  border-radius: 6px;
}

header {
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    padding: 1rem 1.5rem ;

    @media (min-width: 768px) {
      gap: 4rem;
    }

    @media (min-width: 1400px) {
      grid-template-columns: auto 1fr auto auto;
      gap: 1.5rem;
      .navbar {
        display: block;
      }
    }
  }

  .navbar {
    padding-left: 2rem;
     a {
      font-size: 16px;
      color: var(--color-gray-900);
      font-weight: 600;
     }
    display: none;
  }
}

/* Hero section */

#hero {
  background: rgb(99,102,241);
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  /* padding-bottom: 2rem; */

  @media (min-width: 768px) {
    padding-bottom: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "headline" "content";
    padding-top: 2rem;
    

    @media (min-width: 768px) {
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "headline headline"
                            "content images ";
    }

    @media (min-width: 1400px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "headline images"
                            "content images";
      margin-top: 7rem;
      gap: 2rem;
    }
  }

  .headline {
    grid-area: headline;

    h1 {
      font-size: 34px;
      font-weight: 800;
      color: var(--color-gray-900);
      text-align: center;
      
      @media (min-width: 768px) {
        font-size: 44px;
        padding-inline: 6rem;
      }

      @media (min-width: 1400px) {
        font-size: 56px;
        text-align: start;
        padding: 0;
      }
    }
  }

  .content {
    grid-area: content;
    text-align: center;

    @media (min-width: 768px) {
      text-align: start;
      justify-content: flex-start;
      margin-top: 5rem;
    }

    @media (min-width: 1400px) {
      margin-top: 0;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: var(--color-gray-700);
      padding-top: 2rem;
      padding-bottom: 3rem;

      @media (min-width: 768px) {
        padding-top: 0;
        padding-right: 1rem;
      }

      @media (min-width: 1400px) {
        padding-right: 9rem;
      }
    }

    .buttons { 
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .btn-download-image {
      @media (min-width: 768px) {
        width: 6em;
      }

      @media (min-width: 1400px) {
        width: auto;
        height: 2rem;
      }
    }

    .discover-more {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-gray-700);
      padding-top: 2rem;
      padding-bottom: 2rem;

      @media (min-width: 768px) {
        justify-content: flex-start;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      @media (min-width: 1400px) {
        padding-top: 13rem;
        padding-bottom: 4rem;
      }
    }
  }

  .images {
    display: none;
    position: relative;
    grid-area: images;
    
    @media (min-width: 768px) {
      display: block;
    }

    .img-creditcard {
      position: absolute;
      width: 65%;
      bottom: 0;
      right: 0;
    }

    .img-budget {
      position: absolute;
      z-index: -10;
      right: 120px;
      bottom: 0;
      width: 65%;

      @media (min-width: 1400px) {
        right: 230px;
      }
    }
  }
}

/* Logotype section */

#logotypes {
  display: none;

  @media (min-width: 768px) {
    display: block;
    #logo5 {
      display: none;
    }
    #logo6 {
      display: none;
    }
  }

  @media (min-width: 1400px) {
    #logo5 {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #logo6 {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-block: 3rem;

    @media (min-width: 1400px) {
      margin-block: 6rem;
    }

    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100px;
      border: 1px solid var(--color-gray-300);
      border-radius: 8px;

      @media (min-width: 1400px) {
        width: 200px;
      }
    }
  }
}

/* Features section */

#features {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }

  @media (min-width: 1400px) {
    margin-bottom: 6rem;
  }
  
  .container {

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      
    }    

    @media (min-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr;
    }    
  }

  .img-mobile {
    display: none;

    @media (min-width: 1400px) {
      display: block;
      grid-row: span 4;
    }
  }

  .content {
    text-align: center;

    @media (min-width: 768px) {
      grid-column: span 2;
    } 

    @media (min-width: 1400px) {
      text-align: start;
      margin-left: 6rem;
    } 

    h2 {
      font-size: 28px;
      font-weight: 800;
      color: var(--color-gray-900);

      @media (min-width: 768px) {
        font-size: 33.5px;
      }

      @media (min-width: 1400px) {
        font-size: 40px;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: var(--color-gray-700);
      padding-top: 1.5rem;

      @media (min-width: 1400px) {
        color: var(--color-gray-600);
      }
    }
  }

  .cards {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;

    @media (min-width: 1400px) {
      margin-left: 6rem;
    } 

    .card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      min-width: 60px;
      height: 60px;
      background-color: hsla(239, 84%, 67%, 0.082);
    }

    h3 {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 1rem;
      
      @media (min-width: 1400px) {
        margin-bottom: .7rem;
      } 
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-gray-700);
    }
  }
}

/* Slider section */

#slider {
  background-color: var(--color-gray-100);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .headline {
    font-size: 28px;
    font-weight: 800;

    @media (min-width: 768px) {
      font-size: 34px;
    }

    @media (min-width: 1400px) {
      font-size: 40px;
    }
  }

  .images-mobile{
    @media(min-width: 768px) {
      display: none;
    }

    @media(min-width: 1400px) {
     display: none;
    }
  }
  
  .images-tablet {
    display: none;

    .transfer {
      width: 30%;
    }

    @media(min-width: 768px) {
      display: block;
      
    }

    @media(min-width: 1400px) {
      display: none;
    }
  }
  
  .images-desktop {
    display: none;

    @media(min-width: 1400px) {
      display: block;
      display: flex;
      gap: 5rem;
      
    }
  }
  
  .subheading-mobile {
    text-align: center;

    @media(min-width: 768px) {
      display: none;
    }

    @media(min-width: 1400px) {
      display: none;
    }
    
    h4 {
      font-size: 22px;
      font-weight: 800;
    }
    
    p {
      font-size: 16px;
      color: var(--color-gray-700);
      padding-top: 1rem;
    }
  }
  
  .subheading-tablet {
    display: none;
    text-align: center;

    h4 {
      font-size: 22px;
      font-weight: 800;
    }

    p {
      font-size: 16px;
      color: var(--color-gray-700);
      padding-top: 1rem;
    }

    @media(min-width: 768px) {
      display: block;
    }

    @media(min-width: 1400px) {
      display: none;
    }
  }

  .subheading-desktop {
    display: none;
    text-align: center;

    h4 {
      font-size: 24px;
      font-weight: 800;
    }

    p {
      font-size: 16px;
      color: var(--color-gray-700);
      padding-top: 1rem;
    }

    @media(min-width: 1400px) {
      display: block;
    }
  }
}

/* Features 2 section*/

#features-2 {
  display: none;
  margin-top: 100px;
  margin-bottom: 100px;

  @media (min-width: 1400px) {
    display: block;
  }
  
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1076px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .content-box-1 {
      display: flex;
      flex-direction: column;
      width: 410px;
      padding-left: 10px;
      
      h2 {
        font-size: 32px;
        font-weight: 800;
        color: var(--color-gray-900);
        margin-bottom: 15px;
      }
   }
  }
  
  .list-box {
    display: grid;
    gap: 15px;
    margin-top: 17px;
    margin-bottom: 43px;
  }

  .list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-gray-700);
    font-size: 16px;
  }
  
  .content-box-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  
    h2 {
      grid-column: span 2;
      font-size: 32px;
      font-weight: 800;
      color: var(--color-gray-900);
    }
  }
  
  .info-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 245px;
    height: 154px;

    .card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      width: 60px;
      height: 60px;
      background-color: hsla(239, 84%, 67%, 0.082);
    }
  
    p {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-gray-700);
    }
  }
}

/* Testimonials section */

#testimonials {
  display: none;

  @media (min-width: 1400px) {
    display: block;
  }

  background-color: var(--color-gray-100);
  padding: 6rem;

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    .headline {
      margin-right: 1rem;
      font-size: 40px;
      font-weight: 800;
    }

    .content-box {
      background-color: var(--color-white);
      border-radius: 8px;
      box-shadow: 5px 5px 10px var(--color-gray-300);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      position: relative;
      
      .stars {
        margin-top: 2rem;
        color: var(--color-gray-500);

        .checked {
          color: var(--color-yellow);
        }
      }
      
      .img-quote {
        position: absolute;
        top: -30px;
        
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: var(--color-gray-700);
      }
    }
  }
  .user {
    display: flex;
    gap: 1rem;

    h5 {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-gray-900);
    }

    .name p {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-gray-600);
    }
  }
}

/* FAQ section */

#faq {
  margin-top: 3rem;

  @media(min-width: 1400px) {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      align-items: normal;
    }

    @media (min-width: 1400px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "headline accordion"
                         "content  accordion";
    }
  }

  .content {
    text-align: center;
    grid-area: content;
    grid-area: 1;
    .headline {

      grid-area: headline;
      h2 {
        font-size: 25px;
        font-weight: 800;
        color: var(--color-gray-900);

        @media (min-width: 768px) {
          font-size: 32px;
          padding-inline: 11rem;
        }

        @media (min-width: 1400px) {
          padding-inline: 0;
          text-align: start;
          padding-right: 18rem;
        }
      }

      p {
        font-size: 18px;
        color: var(--color-gray-700);
        padding-top: 1rem;
        padding-bottom: 4rem;

        @media (min-width: 768px) {
          padding-top: 2rem;
          padding-inline: 8rem;
        }

        @media (min-width: 1400px) {
          padding-inline: 0;
          text-align: start;
          padding-right: 14rem;
        }
      }
    }
  }

  .accordion {
    grid-area: accordion;
    display: grid;
    
    @media(min-width: 768px) {
      gap: .8rem;
    }
  }

  .accordion-item {
    border: 1px solid var(--color-gray-300);
    
    @media(min-width: 768px) {
      border: none;
      box-shadow: 0px 2px 10px var(--color-gray-300);
       
    }
  }
  
  .radius-8-top {
    border-radius: 8px 8px 0 0;
  }
  .radius-8-bottom {
    border-radius: 0 0 8px 8px;
  }
  
  .accordion-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--color-white);
    
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray-900);
    /* cursor: pointer; */
    transition: background-color 0.3s ease;

    img {
      cursor: pointer;
    }
  }

  .accordion-content {
    padding: 16px;
    display: none;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray-700);
    line-height: 1.6;
  }

  .accordion-item.active .accordion-content {
    display: block;
  }

  .btn-contact-us {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .contact-cards {
    display: none;

    @media (min-width: 768px) {
      display: block;
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 2rem;

      @media (min-width: 1400px) {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        margin-top: 0;
      }
    }

    .contactcard-phone {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid var(--color-gray-300);
      border-radius: 8px;
      padding: 2rem;
      padding-right: 9rem;
      
      @media (min-width: 1400px) {
        height: 11rem;
        padding-right: 2rem;
        
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray-700);
      }

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 14px;
        font-weight: 600;
        color: var(--color-primary);
        text-decoration: none;
      }
    }

    .contactcard-speech {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid var(--color-gray-300);
      border-radius: 8px;
      padding: 2rem;
      padding-right: 9rem;

      @media (min-width: 1400px) {
        height: 11rem;
        padding-right: 2rem;
        
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray-700);
      }

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 14px;
        font-weight: 600;
        color: var(--color-green);
        text-decoration: none;
      }
    }
  }
}

/* Subscribe section */

#subscribe {

  .content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-100);
    padding: 3.5rem 1rem 2rem 1rem;
    border-radius: 8px;
    
    @media(min-width: 768px) {
      display: flex;
      flex-direction: row;
      padding: 3rem 1.5rem 3rem 1.5rem;
    }

    @media(min-width: 1400px) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      padding: 4rem 7rem;
    }
  }

  .headline-box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .headline {
    .h4-desktop {
      display: none;
      font-size: 24px;
      font-weight: 800;

      @media(min-width: 1400px) {
        display: block;
        padding-right: 1rem;
      }
    }

    .h4-mobile {
      font-size: 22px;
      font-weight: 800;
      color: var(--color-gray-900);

      @media(min-width: 1400px) {
        display: none;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    @media(min-width: 768px) {
      margin: auto 0;
    }

    .form-input {
      width: 100%;
      font-size: 16px;
      border: 1px solid var(--color-gray-400);
      border-radius: 8px 0 0 8px;
      padding: .9rem;
      &::placeholder {
        color: var(--color-gray-500);
      }
    }
  }

  .btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 0 8px 8px 0;
    border: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    padding-inline: 1.5rem;
    width: 30%;

    &:hover {
      cursor: pointer;
    }
  }
}

/* Footer */

#footer {
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    p {
      text-align: center;
      font-size: 14px;
      color: var(--color-gray-600);
      padding-inline: 1rem;
    }
  }
}




