@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* Colors */
  --color-primary: #6366F1;
  --color-gradient: linear-gradient(#6366F1 0%, #8B5CF6 50%, #D946EF 100%);
  --color-yellow: #FFBA08;
  --color-green: #22C55E;

  --color-white: #FFFFFF;
  --color-gray-100: #F3F6FF;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  padding: .6em 1.6em;
  border-radius: 4px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-toggle-dark {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-700);
  font-weight: 600;
  font-size: 1rem;

  .text-dark-mode {
    display: none;

    @media (min-width: 768px) {
      display: block;
      color: var(--color-gray-900);
    }

    @media (min-width: 1400px) {
      display: block;
      color: var(--color-gray-7000);
    }
    
  }
}

/* Code from W3Schools.com */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-600);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.8px;
  background-color: var(--color-white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------- */

.btn-sign-in {
  font-size: .9rem;
  font-weight: 500;
   i {
    margin-right: .5em;
   }
   display: none;

   @media (min-width: 1400px) {
    display: block;
  }
}

.btn-mobile {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--color-gray-900);

  @media (min-width: 1400px) {
    display: none;
  }
}

.btn-download {
  background-color: var(--color-gray-900);
  padding: .6em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  padding: 1em;
  box-shadow: 0px 4px 5px var(--color-gray-300);
}

header {
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    padding: 1rem 1.5rem ;

    @media (min-width: 768px) {
      gap: 4rem;
    }

    @media (min-width: 1400px) {
      grid-template-columns: auto 1fr auto auto;
      gap: 1.5rem;
      .navbar {
        display: block;
      }
    }
          
  }

  .navbar {
    padding-left: 2rem;
     a {
      font-size: 16px;
      color: var(--color-gray-900);
      font-weight: 600;
     }
    display: none;
  }
}

/* Hero section */

#hero {
  background: rgb(99,102,241);
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  /* padding-bottom: 2rem; */

  @media (min-width: 768px) {
    padding-bottom: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "headline" "content";
    padding-top: 2rem;
    

    @media (min-width: 768px) {
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "headline headline"
                            "content images ";
    }

    @media (min-width: 1400px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "headline images"
                            "content images";
      margin-top: 7rem;
      gap: 2rem;
    }

  }

  .headline {
    grid-area: headline;

    h1 {
      font-size: 34px;
      font-weight: 800;
      color: var(--color-gray-900);
      text-align: center;
      

      @media (min-width: 768px) {
        font-size: 44px;
        padding-inline: 6rem;
      }

      @media (min-width: 1400px) {
        font-size: 56px;
        text-align: start;
        padding: 0;
      }
    }
  }

  .content {
    grid-area: content;
    text-align: center;

    @media (min-width: 768px) {
      text-align: start;
      justify-content: flex-start;
      margin-top: 5rem;
    }

    @media (min-width: 1400px) {
      margin-top: 0;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: var(--color-gray-700);
      padding-top: 2rem;
      padding-bottom: 3rem;

      @media (min-width: 768px) {
        padding-top: 0;
        padding-right: 1rem;
      }

      @media (min-width: 1400px) {
        padding-right: 9rem;
      }
    }

    .buttons { 
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
      }
      
    }

    .btn-download-image {
      @media (min-width: 768px) {
        width: 6em;
      }

      @media (min-width: 1400px) {
        width: auto;
        height: 2rem;
      }
    }

    .discover-more {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-gray-700);
      padding-top: 2rem;
      padding-bottom: 2rem;

      @media (min-width: 768px) {
        justify-content: flex-start;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      @media (min-width: 1400px) {
        padding-top: 13rem;
        padding-bottom: 4rem;
      }

    }

  }

  .images {
    display: none;
    position: relative;
    grid-area: images;
    
    @media (min-width: 768px) {
      display: block;
      
    }

    .img-creditcard {
      position: absolute;
      width: 65%;
      bottom: 0;
      right: 0;
    }

    .img-budget {
      position: absolute;
      z-index: -10;
      right: 120px;
      bottom: 0;
      width: 65%;

      @media (min-width: 1400px) {
        right: 230px;
      }
    }

  }
}








