$textsize-lead: 1.5rem;
$textsize-XL: 1.25rem;
$textsize-L: 1.125rem;
$textsize-M: 1rem;
$textsize-S: 0.875rem;
$textsize-XS: 0.75rem;

$nav-textsize: 1rem;

$display-1: 5rem;
$display-2: 4.5rem;
$display-3: 4rem;
$display-4: 3.5rem;
$display-5: 5rem;
$display-6: 2.625rem;




