.darkmode {
  background-color: var(--color-gray-900);
  --color-bg-hero: var(--color-gray-900); 
  --color-bg-hero-linear: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 50%, rgb(19, 16, 34, 0.01) 100%);
  --color-bg-primary: var(--color-gray-900);
  --color-bg-second: rgb(243, 246, 255, 0.04);

  --color-text-primary: var(--color-white);
  --color-text-secondary: #ffffffaf;

  --color-bg-btn: var(--color-white);
  --color-btn-round: rgba(255, 255, 255, 0.05);
  --color-btn-round-secondary: rgb(255, 255, 255, 0.04);
  --color-bg-card: rgb(255, 255, 255, 0.04); 
  --color-bg-accordion: rgb(255, 255, 255, 0.04);
  --color-bg-accordion-content: rgb(255, 255, 255, 0.04);
  --color-bg-input-desktop: rgb(255, 255, 255, 0.02);
  --color-bg-input: var(--color-white);
  --color-btn-hover-secondary: #ffffffe5;
  --color-btn-active-secondary: #ffffffa1;

  --color-border: rgba(255, 255, 255, 0.15);
  
  --shadow-btn-round: none;
  --shadow-cards: none;
  --shadow-accordion: none;

  .darkmode-on {
    display: block;
  }
  .darkmode-off {
    display: none;
  }
}